<!DOCTYPE html>
<html>
  <head>
    <title>Cardinal 3DS Songbird Demo</title>
    <meta charset="utf-8">
    <!-- <script src="https://songbirdstag.cardinalcommerce.com/cardinalcruise/v1/songbird.js"></script> -->
    <script src="https://songbirdstag.cardinalcommerce.com/edge/v1/songbird.js"></script>
  </head>
  <body>
  <h1>Cardinal API: Option 3 iframe</h1>
  <iframe height="1" width="1" style="display: none;">
  <form id="collectionForm" name="devicedata" method="POST" action="https://centinelapistag.cardinalcommerce.com/V1/Cruise/Collect">
  <!-- POST Parameters: Bin=First 6 digits to full pan of the payment card number. For merchants unable to utilize the First 6 of the Cardnumber, optional Rest API is
  available to generate a session identifier representing the session. JWT=JWT generated per merchant spec -->
  <input type="hidden" name="Bin" value="<%= locals[:card_number] %>" />
  <input type="hidden" name="JWT" value="<%= locals[:cardinal_jwt] %>" />
  </form>
  <script>window.onload = function() {
    // Auto submit form on page load
    document.getElementById('collectionForm').submit();
  }
  </script>
  </iframe>
</body></html>
