<!--
  Songbird Docs: https://cardinaldocs.atlassian.net/wiki/spaces/CC/pages/557065/Songbird.js
-->
<!DOCTYPE html>
<html>
  <head>
    <title>Cardinal 3DS Songbird Demo</title>
    <meta charset="utf-8">
    <!-- <script src="https://songbirdstag.cardinalcommerce.com/cardinalcruise/v1/songbird.js"></script> -->
    <script src="https://songbirdstag.cardinalcommerce.com/edge/v1/songbird.js"></script>
  </head>
  <body>
    <h1>Cardinal 3DS Songbird Demo</h1>
    <pre>Open up JS console to view verbose logs.</pre>
    <h4>Card Number <pre><%= locals[:card_number] %></pre></h4>
    <h4>Order Number <pre><%= locals[:order_number] %></pre></h4>
    <h4>DfReferenceId <pre id="df_reference_id">loading...</pre></h4>
    <div id="Cardinal-Payments"></div>

    <script>
      Cardinal.on('payments.setupComplete', function(setupCompleteData) {
        console.log('Cardinal payments.setupComplete', { setupCompleteData });

        document.querySelector('#df_reference_id').innerText = setupCompleteData.sessionId;

        console.log('Processing BIN...')
        Cardinal.trigger("bin.process", '<%= locals[:card_number].first(6) %>')
          .then(function(results){
            console.log('bin.process results:', results);
            if(results.Status) {
                // Bin profiling was successful. Some merchants may want to only move forward with CCA if profiling was successful
                console.log('bin.process succeeded!');
            } else {
                // Bin profiling failed
                console.log('bin.process failed!');
            }

            // Bin profiling, if this is the card the end user is paying with you may start the CCA flow at this point
            // Cardinal.start('cca', myOrderObject);
          })
          .catch(function(error){
            // An error occurred during profiling
            console.log('bin.process error:', error);
          });
      });

      Cardinal.on('payments.validated', function(decodedResponseData, responseJWT){
        console.log('Cardinal payments.payments.validated', { decodedResponseData, responseJWT });

        switch (decodedResponseData.ActionCode) {
          case "SUCCESS":
          // Handle successful transaction, send JWT to backend to verify
          break;

          case "NOACTION":
          // Handle no actionable outcome
          break;

          case "FAILURE":
          // Handle failed transaction attempt
          break;

          case "ERROR":
          // Handle service level error
          break;
        }
      });

      Cardinal.configure({
        logging: {
          level: "verbose", // or "on", "off"
        },
        timeout: 6000,
        extendedtimeout: 4000,
        maxRequestRetries: 2,
        button:{
          containerId: 'Cardinal-Payments'
        },
        payment:{
          view: 'modal',
          framework: 'cardinal',
          displayLoading: true,
          displayExitButton: true
        }
      });

      Cardinal.setup('init', {
        "jwt": "<%= locals[:cardinal_jwt] %>",
      });

      // Cardinal.start('cca', {
      //   "OrderDetails":{
      //     "OrderDescription":"An updated description"
      //   }
      // });
    </script>
  </body>
</html>
